In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
#from faker import Faker

## Paramètres de jeu de données

In [2]:
param_y_normal_data = 1
param_y_abnormal_data = 0
contamination = 1/100 # 1%
file_name = "synthetic_full_random_data_"+str(datetime.now())
#full_file_path = str(datetime.now().date())+"/"+file_name+".csv"
full_file_path = file_name+".csv"

## Normal random dataset generation

In [3]:
#Normal random dataset
mu = 0 #mean
sigma = 1 #Standard deviation
size = 1500 #number of samples
#fake = Faker()
# To ensure the results are reproducible
#fake.seed(4321)
ages = []
#names_list = []
sexes = []  # 1 = Homme and 0 = Femme
is_normal = []  # 1 = Normal and 0 = Anormal
is_pregnant = []  # 1 = True and 0 = False
salaries = []
is_parent = []  # 1 = True and 0 = False
heights = []  # in cm
weights = []  # in kg
for _ in range(size):
    is_normal.append(param_y_normal_data)
    #names_list.append(fake.name())
    # Age
    age = np.random.randint(0, 101)
    ages.append(age)
    # Sexe
    sexe = np.random.randint(0, 2)
    sexes.append(sexe)
    # Salary, is_parent
    if age >= 16:
        salaries.append(np.random.randint(0, 40000))
        is_parent.append(np.random.randint(0, 2))
    #elif age >= 12:
    #    salaries.append(0)
    #    is_parent.append(np.random.randint(0, 1))
    else:
        salaries.append(0)
        is_parent.append(0)
    # is_pregnant
    if sexe == 1 or 50 < age < 16:
        is_pregnant.append(0)
    else: #if sexe == 0 and age >= 16
        is_pregnant.append(np.random.randint(0, 2))

    # heights
    if age >= 18:
        height = np.random.randint(175, 200)
    elif age >= 15:
        height = np.random.randint(163, 175)
    elif age >= 112:
        height = np.random.randint(145, 163)
    elif age >= 10:
        height = np.random.randint(132, 145)
    elif age >= 8:
        height = np.random.randint(120, 132)
    elif age >= 4:
        height = np.random.randint(100, 120)
    elif age >= 2:
        height = np.random.randint(85, 100)
    else:
        height = np.random.randint(50, 85)
    heights.append(height)

    # Weights
    weight = np.random.randint(low=2, high=200)
    imc = weight/(height/100)**2
    good = False
    while not good:
        if 18.5 <= imc < 25:
            good = True
            weights.append(weight)
        else:
            weight = np.random.randint(low=2, high=200)
            imc = weight/(height/100)**2

data = {#'name': names_list,
        'age': ages,
        'Salary (in €)': salaries,
        'sexe': sexes,
        'is_pregnant': is_pregnant,
        'is_parent': is_parent,
        'weight (in Kg)': weights,
        'height (in Cm)': heights,
        'is_normal': is_normal
        }
n_dataset = pd.DataFrame(data, columns=[#'name', 
                                        'age', 'Salary (in €)', 'sexe',
                                          'is_pregnant', 'is_parent', 'weight (in Kg)',
                                          'height (in Cm)', 'is_normal'])
print(n_dataset)

      age  Salary (in €)  sexe  is_pregnant  is_parent  weight (in Kg)  \
0      31          14219     0            0          1              74
1      63          13987     0            0          0              89
2      94          30171     1            0          0              85
3      29          30008     1            0          1              76
4      65           6223     1            0          1              75
5      65          33182     0            0          0              73
6      99          35856     1            0          1              72
7       3              0     1            0          0              18
8      77          35259     0            0          0              78
9      71            269     0            0          1              76
10    100           8773     1            0          0              76
11     14              0     1            0          0              39
12      3              0     1            0          0              17
13     83          12980     0            1          0              67
14     97          28814     1            0          1              74
15     43          26639     0            0          0              66
16     64          18056     1            0          1              69
17     53           5471     0            1          1              63
18     81          11692     0            1          0              83
19     94           3175     1            0          1              71
20     56          26390     1            0          1              68
21     51          10514     1            0          1              90
22     48          39535     1            0          1              77
23     58          33164     1            0          1              67
24     27          11711     1            0          0              62
25     87          14799     0            1          1              90
26     53           1046     1            0          0              81
27     40          34697     0            1          0              89
28     92           5478     1            0          0              63
29     96           5957     1            0          1              71
...   ...            ...   ...          ...        ...             ...
1470   25          16007     1            0          1              63
1471   46          22037     0            1          0              75
1472    9              0     1            0          0              33
1473   36          37850     0            1          0              80
1474   78           6589     1            0          0              60
1475   38          12391     1            0          0              77
1476  100          21549     1            0          0              77
1477   30           7522     1            0          1              73
1478   66          19958     1            0          0              81
1479   86          17614     1            0          1              73
1480   43          20106     1            0          0              91
1481    2              0     1            0          0              18
1482   82          10761     1            0          1              73
1483   87           9892     0            1          0              81
1484   85          34169     1            0          1              89
1485   52          18244     1            0          0              73
1486   10              0     0            0          0              34
1487   54          24227     0            1          1              65
1488   23          23429     0            0          1              68
1489   13              0     0            0          0              45
1490   79          35836     0            0          0              66
1491    8              0     1            0          0              35
1492   27          25096     0            0          0              62
1493   87           8096     0            0          0              68
1494   82          33842     0            1          1              69
1495   23          24291     0            1          1              67
1496   13              0     0            0          0              36
1497   11              0     1            0          0              44
1498   81          37572     1            0          1              58
1499   50          23966     0            0          1              63

      height (in Cm)  is_normal
0                180          1
1                197          1
2                189          1
3                198          1
4                181          1
5                182          1
6                180          1
7                 86          1
8                180          1
9                198          1
10               189          1
11               144          1
12                89          1
13               189          1
14               190          1
15               176          1
16               192          1
17               182          1
18               194          1
19               192          1
20               176          1
21               195          1
22               185          1
23               182          1
24               179          1
25               198          1
26               185          1
27               190          1
28               183          1
29               179          1
...              ...        ...
1470             184          1
1471             179          1
1472             127          1
1473             189          1
1474             176          1
1475             192          1
1476             178          1
1477             178          1
1478             182          1
1479             190          1
1480             195          1
1481              92          1
1482             178          1
1483             181          1
1484             194          1
1485             178          1
1486             132          1
1487             184          1
1488             181          1
1489             138          1
1490             176          1
1491             120          1
1492             183          1
1493             184          1
1494             186          1
1495             177          1
1496             133          1
1497             138          1
1498             176          1
1499             177          1

[1500 rows x 8 columns]

## Abnormal dataset generation

In [4]:
#Abnormal random dataset
size_a = int(size*contamination) #size of samples
used_index = []
i = 0
while i<size_a:
    found = False
    is_now_negative = False
    while not found:
        index = np.random.randint(0, len(n_dataset))
        if not index in used_index:
            used_index.append(index)
            found = True
            if is_now_negative:
                n_dataset.at[index, 'age'] = np.random.randint(-200, -500)
            else:
                n_dataset.at[index, 'age'] = np.random.randint(200, 500)
            n_dataset.at[index, 'is_normal'] = param_y_abnormal_data
            is_now_negative = not is_now_negative
    i = i + 1
print(n_dataset)

      age  Salary (in €)  sexe  is_pregnant  is_parent  weight (in Kg)  \
0      31          14219     0            0          1              74
1      63          13987     0            0          0              89
2      94          30171     1            0          0              85
3      29          30008     1            0          1              76
4      65           6223     1            0          1              75
5      65          33182     0            0          0              73
6      99          35856     1            0          1              72
7       3              0     1            0          0              18
8      77          35259     0            0          0              78
9      71            269     0            0          1              76
10    100           8773     1            0          0              76
11     14              0     1            0          0              39
12      3              0     1            0          0              17
13     83          12980     0            1          0              67
14     97          28814     1            0          1              74
15     43          26639     0            0          0              66
16     64          18056     1            0          1              69
17     53           5471     0            1          1              63
18     81          11692     0            1          0              83
19     94           3175     1            0          1              71
20     56          26390     1            0          1              68
21     51          10514     1            0          1              90
22     48          39535     1            0          1              77
23     58          33164     1            0          1              67
24     27          11711     1            0          0              62
25     87          14799     0            1          1              90
26     53           1046     1            0          0              81
27     40          34697     0            1          0              89
28     92           5478     1            0          0              63
29     96           5957     1            0          1              71
...   ...            ...   ...          ...        ...             ...
1470   25          16007     1            0          1              63
1471   46          22037     0            1          0              75
1472    9              0     1            0          0              33
1473   36          37850     0            1          0              80
1474   78           6589     1            0          0              60
1475   38          12391     1            0          0              77
1476  100          21549     1            0          0              77
1477   30           7522     1            0          1              73
1478   66          19958     1            0          0              81
1479   86          17614     1            0          1              73
1480   43          20106     1            0          0              91
1481    2              0     1            0          0              18
1482   82          10761     1            0          1              73
1483   87           9892     0            1          0              81
1484   85          34169     1            0          1              89
1485   52          18244     1            0          0              73
1486   10              0     0            0          0              34
1487   54          24227     0            1          1              65
1488   23          23429     0            0          1              68
1489   13              0     0            0          0              45
1490   79          35836     0            0          0              66
1491    8              0     1            0          0              35
1492   27          25096     0            0          0              62
1493   87           8096     0            0          0              68
1494   82          33842     0            1          1              69
1495   23          24291     0            1          1              67
1496   13              0     0            0          0              36
1497   11              0     1            0          0              44
1498   81          37572     1            0          1              58
1499   50          23966     0            0          1              63

      height (in Cm)  is_normal
0                180          1
1                197          1
2                189          1
3                198          1
4                181          1
5                182          1
6                180          1
7                 86          1
8                180          1
9                198          1
10               189          1
11               144          1
12                89          1
13               189          1
14               190          1
15               176          1
16               192          1
17               182          1
18               194          1
19               192          1
20               176          1
21               195          1
22               185          1
23               182          1
24               179          1
25               198          1
26               185          1
27               190          1
28               183          1
29               179          1
...              ...        ...
1470             184          1
1471             179          1
1472             127          1
1473             189          1
1474             176          1
1475             192          1
1476             178          1
1477             178          1
1478             182          1
1479             190          1
1480             195          1
1481              92          1
1482             178          1
1483             181          1
1484             194          1
1485             178          1
1486             132          1
1487             184          1
1488             181          1
1489             138          1
1490             176          1
1491             120          1
1492             183          1
1493             184          1
1494             186          1
1495             177          1
1496             133          1
1497             138          1
1498             176          1
1499             177          1

[1500 rows x 8 columns]

## Génération du jeu de données complet

In [5]:
dataset = n_dataset
dataset

,age,Salary (in €),sexe,is_pregnant,is_parent,weight (in Kg),height (in Cm),is_normal
0,31,14219,0,0,1,74,180,1
1,63,13987,0,0,0,89,197,1
2,94,30171,1,0,0,85,189,1
3,29,30008,1,0,1,76,198,1
4,65,6223,1,0,1,75,181,1
5,65,33182,0,0,0,73,182,1
6,99,35856,1,0,1,72,180,1
7,3,0,1,0,0,18,86,1
8,77,35259,0,0,0,78,180,1
9,71,269,0,0,1,76,198,1
10,100,8773,1,0,0,76,189,1
11,14,0,1,0,0,39,144,1
12,3,0,1,0,0,17,89,1
13,83,12980,0,1,0,67,189,1
14,97,28814,1,0,1,74,190,1
15,43,26639,0,0,0,66,176,1
16,64,18056,1,0,1,69,192,1
17,53,5471,0,1,1,63,182,1
18,81,11692,0,1,0,83,194,1
19,94,3175,1,0,1,71,192,1
20,56,26390,1,0,1,68,176,1
21,51,10514,1,0,1,90,195,1
22,48,39535,1,0,1,77,185,1
23,58,33164,1,0,1,67,182,1
24,27,11711,1,0,0,62,179,1
25,87,14799,0,1,1,90,198,1
26,53,1046,1,0,0,81,185,1
27,40,34697,0,1,0,89,190,1
28,92,5478,1,0,0,63,183,1
29,96,5957,1,0,1,71,179,1
...,...,...,...,...,...,...,...,...
1470,25,16007,1,0,1,63,184,1
1471,46,22037,0,1,0,75,179,1
1472,9,0,1,0,0,33,127,1
1473,36,37850,0,1,0,80,189,1
1474,78,6589,1,0,0,60,176,1
1475,38,12391,1,0,0,77,192,1
1476,100,21549,1,0,0,77,178,1
1477,30,7522,1,0,1,73,178,1
1478,66,19958,1,0,0,81,182,1
1479,86,17614,1,0,1,73,190,1
1480,43,20106,1,0,0,91,195,1
1481,2,0,1,0,0,18,92,1
1482,82,10761,1,0,1,73,178,1
1483,87,9892,0,1,0,81,181,1
1484,85,34169,1,0,1,89,194,1
1485,52,18244,1,0,0,73,178,1
1486,10,0,0,0,0,34,132,1
1487,54,24227,0,1,1,65,184,1
1488,23,23429,0,0,1,68,181,1
1489,13,0,0,0,0,45,138,1
1490,79,35836,0,0,0,66,176,1
1491,8,0,1,0,0,35,120,1
1492,27,25096,0,0,0,62,183,1
1493,87,8096,0,0,0,68,184,1
1494,82,33842,0,1,1,69,186,1
1495,23,24291,0,1,1,67,177,1
1496,13,0,0,0,0,36,133,1
1497,11,0,1,0,0,44,138,1
1498,81,37572,1,0,1,58,176,1
1499,50,23966,0,0,1,63,177,1

In [6]:
dataset.describe()

,age,Salary (in €),sexe,is_pregnant,is_parent,weight (in Kg),height (in Cm),is_normal
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,51.760667,16704.164667,0.500667,0.253333,0.429333,68.280667,174.694000,0.990000
std,41.523739,12892.790784,0.500166,0.435065,0.495146,19.773042,29.934157,0.099532
min,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,52.000000,0.000000
25%,24.000000,3528.250000,0.000000,0.000000,0.000000,64.000000,177.000000,1.000000
50%,49.000000,16374.000000,1.000000,0.000000,0.000000,73.000000,184.000000,1.000000
75%,74.000000,28026.500000,1.000000,1.000000,1.000000,81.000000,192.000000,1.000000
max,467.000000,39977.000000,1.000000,1.000000,1.000000,99.000000,199.000000,1.000000

## Créé le fichier .csv du jeu de données

In [7]:
dataset.to_csv(full_file_path, index=None, header=True)